<launch>

<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.1 0 0 0 1 world base_link 100" /> 

<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0.5 0 0.707 0 base_link camera_link 100" /> 

<node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0.5 0 0 0 0 0 1 base_link lidar 100" /> 

<node type="rviz" name="rviz" pkg="rviz" args="-d $(find hough_circle)/rviz/rviz_config.rviz"/>

<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">

  <arg name="fisheye_width"       default="640"/>
  <arg name="fisheye_height"      default="480"/>
  <arg name="enable_fisheye"      default="false"/>

  <arg name="depth_width"         default="640"/>
  <arg name="depth_height"        default="480"/>
  <arg name="enable_depth"        default="true"/>

  <arg name="infra_width"         default="640"/>
  <arg name="infra_height"        default="480"/>
  <arg name="enable_infra1"       default="false"/>
  <arg name="enable_infra2"       default="false"/>

  <arg name="color_width"         default="640"/>
  <arg name="color_height"        default="480"/>
  <arg name="enable_color"        default="true"/>

 </include>

<node name="hough_circle" pkg="hough_circle" type="hough_circle" output="screen"/>

<!--node name="pose_estimation" pkg="hough_circle" type="pose_estimation" output="screen"/ -->

<!--node name="hough_generalized" pkg="hough_circle" type="hough_generalized" output="screen"/> -->



<node name="rqt_reconfigure" pkg ="rqt_reconfigure" type="rqt_reconfigure" respawn="false" output="screen"/>


</launch>
